@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("index.css");


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* .phone1,.phone2,.phone3,.phoneBg,.heroPhoneDiv{
  transition: all 0.5s ease-in-out;
}
.heroPhoneDiv:hover .phone3{
  left: 85px;
}
.heroPhoneDiv:hover .phone1{
  left: 152px;
} */

@keyframes movePhone1 {
  from {
    left: 152px; 
  }
  to {
    left: 65px; 
  }
}

@keyframes movePhone3 {
  from {
    left: 85px;
  }
  to {
    left: 176px;
  }
}
@media (min-width: 1024px) {
  .animatePhone1 {
    animation: movePhone1 2s forwards; 
  }
  
  .animatePhone3 {
    animation: movePhone3 2s forwards; 
  }
}


.rccs__card__background{
  background-image: url('../../public/assets/23.jpeg');
}
.rccs__card--front{
  background-image: url('../../public/assets/23.jpeg');
}